*{
    margin:0;
    padding:0;
    outline:none;
    border:none; 
    text-decoration: none;
    box-sizing: border-box;
    font-family: "poppins",sans-serif;
}
body{
    background-color: rgb(230, 220, 220);
}
nav{
    position:absolute;
    top: 0;
    bottom:0;
    height:100%;
    left:0;
    background:blue;
    width:90px;
    overflow:hidden;
    transition: width 0.2s linear;
    /* box-shadow: ; */

}
a{
    position:relative;
    color:white;
    font-size: 14px;
    display: table;
    width: 300px;
    padding:10px;
}
#ham{
    position:relative;
    left:10px;
}

.fas{
    position:relative;
    width:70px;
    height:40px;
    top:14px;
    font-size: 20px;
    text-align: center;
}

.nav-item{
    position:relative;
    top:14px;
    margin-left: 10px;
    font-size: 20px;
}

a:hover{
    background:rgba(241, 236, 236, 0.176);
}

nav:hover{
     width:180px;
     transition:all 0.6s ease;
}

.logout{
    position:absolute;
    bottom:0;
}