@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Poppins', sans-serif;
}

/* Login Page CSS Starts */
#login-button{
    transition: 0.2s ease-in-out;
}

#login-button:hover{
    background: transparent;
    box-shadow: none;
    color: #3b8df3;
    border: 2px solid #3b8df3;
}

/* Navbar CSS */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.left,.left-main{
    display: flex;
    align-items: center;
    justify-content:center;
    /* font-size: 4rem; */
    
}
  .img-container{
    width:10%;
    margin-right: 10px;
    /* height: 100%; */
    
}
  .img-container img{
    width: 100%;  
}
.left-main{
    display: none;

}








/* Hiding image from medium devices */
@media screen and (max-width: 900px){
    #loginPageImage{
        display: none;
    }
}

@media screen and (max-width: 600px){
    .left{
        display: none;
    }
    .left-main{
        display: flex;
        font-size: 1rem ;

    }
}
/* Signup page CSS Starts */
