

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Poppins', sans-serif;
}

/* Login Page CSS Starts */
#login-button{
    transition: 0.2s ease-in-out;
}

#login-button:hover{
    background: transparent;
    box-shadow: none;
    color: #3b8df3;
    border: 2px solid #3b8df3;
}

/* Navbar CSS */


.left,.left-main{
    display: flex;
    align-items: center;
    justify-content:flex-start;
    
}
  .img-container{
    width:16%;
    margin-right: 10px;
    
}
  .img-container img{
    width: 100%;  
}
.left-main{
    display: none;

}








/* Hiding image from medium devices */
@media screen and (max-width: 900px){
    #loginPageImage{
        display: none;
    }
    .left{
        display: none;
    }
   
    .left-main{
        display: flex;
        font-size: 1rem ;

    }
}

@media screen and (max-width: 600px){
  .left-main{
    margin-left: 20px;
  }
  .container{
    padding: 0;
  }
}
/* Signup page CSS Starts */
